.canvas-viewport {
  flex: 1;
  position: relative;
  overflow: auto;
  background-color: #f5f5f5;
  user-select: none;

  // 隐藏滚动条
  &::-webkit-scrollbar {
    display: none;
  }
  

  &__wrapper {
    position: relative;
    min-width: 100%;
    min-height: 100%;
  }

  &__content {
    position: absolute;
    border-radius: 0.3125rem;
    box-shadow: 0 0 0.625rem 0.0625rem rgba(0, 0, 0, 0.1);
    background-color: white;
  }
}