@use "@/styles/variables.scss" as *;

.left-bar {
  width: 15rem;
  height: 100%;
  background: #fff;
  border-right: .0625rem solid #e8e8e8;
  display: flex;
  flex-direction: column;

  &-header {
    padding: .75rem;
    border-bottom: .0625rem solid #e8e8e8;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      font-size: .75rem;
      font-weight: 600;
      color: #333;
    }

    &-manager {
      display: flex;
      align-items: center;
      gap: .125rem;
      font-size: .625rem;
      color: #666;
      cursor: pointer;

      i.iconfont {
        font-size: .75rem;
      }
      &:hover {
        color: $primary-color;
      }
    }
  }

  &-search {
    padding: .3125rem .625rem;
    &-input {
      width: calc(100% - .75rem);
      padding: .375rem;
      border: .0625rem solid #d9d9d9;
      border-radius: .25rem;
      font-size: .625rem;
      outline: none;
      &:focus {
        border-color: $primary-color;
      }
    }
  }

  &-content {
    flex: 1;
    overflow-y: auto;
    padding: .25rem .5rem;
  }

  &-empty {
    text-align: center;
    color: #999;
    padding: 2.5rem .625rem;
    font-size: .625rem;
  }
}

.material-categories {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.material-category {
  &-title {
    font-size: .625rem;
    font-weight: 600;
    color: #666;
    padding: .5rem .75rem;
    border-radius: .25rem;
    margin-bottom: .25rem;
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      background: #f5f5f5;
    }
  }
}

.material-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: .25rem;
  gap: .5rem;
}

.material-item {
  width: 42%;
  height: 3.75rem;
  display: flex;
  flex-direction: column;
  gap: .3125rem;
  padding: .3125rem;
  border: .0625rem solid $third-color;
  border-radius: .25rem;
  cursor: grab;
  transition: all 0.2s;
  background: #fff;

  &:hover {
    border-color: $primary-color;
    background: #f0f7ff;
    transform: translateY(-.125rem);
    box-shadow: 0 .125rem .5rem rgba(0, 0, 0, 0.1);
  }

  &:active {
    cursor: grabbing;
    opacity: 0.8;
  }

  &-thumbnail {
    display: flex;
    align-items: center;
    justify-self: center;
    flex: 1;
    min-height: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }


  &-title {
    font-size: .5625rem;
    font-weight: 500;
    color: #333;
    padding-bottom: .25rem;
    border-bottom: .0625rem solid $third-color;
  }

  &-desc {
    font-size: .75rem;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: .125rem;
  }

  &-category {
    font-size: .6875rem;
    color: #999;
  }
}