.editor-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 93%;
  border-radius: .3125rem;
  box-shadow: 0 0 .625rem .0625rem rgba(0, 0, 0, 0.1);
  background-color: white;
  z-index: 0;
}