.bottom-bar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2.5rem;
  margin-left: .9375rem;
  border-top: .0625rem solid #e1e6ec;
  &-link {
    display: flex;
    align-items: center;
    height: 1.25rem;
    color: #818c8d;
    &-status {
      width: .625rem;
      height: .625rem;
      border-radius: 50%;
    }
    &-text {
      font-size: .625rem;
      margin-left: .3125rem;
    }
    &-lastSaveTime {
      font-size: .625rem;
      margin-left: .625rem;
    }
  }

  &-option {
    margin-right: 2.5rem;
    font-size: .625rem;
    &-selection {
      
    }
  }
}